<% layout("layouts/boilerplate.ejs") %>

    <body>
        <div class="row m-3">
            <div class="alert alert-danger" role="alert">
                <p class="alert-heading">
                    <%= err.message %>
                </p>
            </div>
        </div>
    </body>